@use "../common/forward" as *;

.gallows {
  --head-opacity: 0;
  --body-opacity: 0;
  --left-arm-opacity: 0;
  --right-arm-opacity: 0;
  --left-leg-opacity: 0;
  --right-leg-opacity: 0;

  grid-column: 1;
  order: -1;
  width: auto;
  height: 550px;
  margin-bottom: 30px;

  @include media-laptop {
    $height-min: 220px;

    flex-grow: 1;
    height: $height-min;
    min-height: $height-min;
    max-height: 550px;
    margin-bottom: 10px;
  }
}
