@use "../common/forward" as *;

.keyboard {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  place-content: center;
  justify-content: center;
}

.keyboard__key {
  width: 48px;
  height: 48px;
  font-size: 24px;
  background-color: var(--color-btn-basic);
  border: 1px solid var(--color-bd-dark);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s ease, opacity 0.5s ease;

  @include media-laptop {
    width: 40px;
    height: 40px;
  }

  &:hover,
  &:focus-visible {
    @include media-hover {
      background-color: var(--color-btn-hover);
    }
  }

  &:active {
    background-color: var(--color-btn-active);
  }

  &:disabled {
    color: var(--color-text-disabled);
    background-color: var(--color-btn-hover);
    opacity: 0.5;

    @include media-laptop {
      background-color: var(--color-btn-basic);
    }
  }
}
