@use "../common/forward" as *;

$width-max: 1250px;
$height-min: 640px;

.main-content {
  display: grid;
  grid-template-columns: 400px 1fr;
  column-gap: 50px;
  place-items: center;
  max-width: $width-max;
  margin: auto;
  padding: 30px;
  background-color: var(--color-bg-main);
  border-radius: 80px;

  @include media-laptop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0 10px;

    @media (max-height: $height-min) {
      height: unset;
    }
  }

  @media (width <= calc($width-mobile - 1px)) {
    height: unset;
  }
}

.main-content__title {
  grid-column: 1;
  margin: 0;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;

  @include media-laptop {
    margin-bottom: 20px;
    font-size: 20px;
  }
}
