@use "../common/forward" as *;

$width-keyboard-bpoint: 450px;

.quiz {
  grid-area: 1 / 2 / 3 / 3;
  text-align: center;
}

.quiz__letters {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-bottom: 40px;

  @include media-laptop {
    margin-bottom: 18px;
  }
}

.quiz__letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 27px;
  line-height: 1;
  border-bottom: 3px solid var(--color-bd-dark);

  @include media-laptop {
    width: 20px;
    height: 20px;
    font-size: 18px;
  }
}

.quiz__question {
  margin: 0;
  margin-bottom: 30px;
  font-size: 22px;

  @include media-laptop {
    margin-bottom: 14px;
    font-size: 18px;
  }
}

.quiz__guesses {
  margin: 0;
  margin-bottom: 50px;

  @include media-laptop {
    margin-bottom: 18px;
    font-size: 16px;
  }
}

.quiz__count {
  color: var(--color-text-alert);
}

.quiz__keyboard {
  max-width: 500px;
  margin-inline: auto;

  @include media-laptop {
    max-width: 450px;
  }

  @media (max-width: $width-keyboard-bpoint) {
    max-width: 360px;
  }
}
