@use "../common/forward" as *;

.quiz {
  grid-area: 1 / 2 / 3 / 3;
  text-align: center;
}

.quiz__letters {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-bottom: 40px;
}

.quiz__letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 27px;
  line-height: 1;
  border-bottom: 3px solid var(--color-bd-dark);
}

.quiz__question {
  margin: 0;
  margin-bottom: 30px;
  font-size: 22px;
}

.quiz__guesses {
  margin: 0;
  margin-bottom: 50px;
}

.quiz__count {
  color: var(--color-text-alert);
}

.quiz__keyboard {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  place-content: center;
  justify-content: center;
  min-width: 340px;
  max-width: 500px;
}

.quiz__key {
  width: 48px;
  height: 48px;
  font-size: 24px;
  background-color: var(--color-btn-basic);
  border: 1px solid;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s ease, opacity 0.5s ease;

  &:hover,
  &:focus-visible {
    background-color: var(--color-btn-hover);
  }

  &:active {
    background-color: var(--color-btn-active);
  }

  &:disabled {
    color: var(--color-text-disabled);
    background-color: var(--color-btn-hover);
    opacity: 0.5;
  }
}
