:root {
  --font-primary: "Arial", sans-serif;
  --color-text-dark: #403f3d;
  --color-text-light: #e1d4c9;
  --color-text-accent: #b0907a;
  --color-text-alert: #ff4d4d;
  --color-text-success: #5eaa2f;
  --color-text-disabled: #000000;
  --color-bg-body: #e1d4c9;
  --color-bg-main: #fffefe;
  --color-bg-modal: #e1d4c9;
  --color-bg-backdrop: rgba(64, 63, 61, 0.8);
  --color-btn-basic: #f0f0f0;
  --color-btn-hover: #e1d4c9;
  --color-btn-active: #c1b6ad;
  --color-bd-light: #c1b6ad;
  --color-bd-dark: #665f55;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  font-family: var(--font-primary);
  font-size: 18px;
  line-height: 150%;
  font-weight: 600;
  color: var(--color-text-dark);
  background-color: var(--color-bg-body);
}
@media (max-width: 1100px) {
  body {
    background-color: var(--color-bg-main);
  }
}

.main-content {
  display: grid;
  grid-template-columns: 400px 1fr;
  column-gap: 50px;
  place-items: center;
  max-width: 1250px;
  margin: auto;
  padding: 30px;
  background-color: var(--color-bg-main);
  border-radius: 80px;
}
@media (max-width: 1100px) {
  .main-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}

.main-content__title {
  grid-column: 1;
  margin: 0;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1100px) {
  .main-content__title {
    margin-bottom: 20px;
    font-size: 20px;
  }
}

.gallows {
  --head-opacity: 0;
  --body-opacity: 0;
  --left-arm-opacity: 0;
  --right-arm-opacity: 0;
  --left-leg-opacity: 0;
  --right-leg-opacity: 0;
  grid-column: 1;
  order: -1;
  width: auto;
  height: 550px;
  margin-bottom: 30px;
}
@media (max-width: 1100px) {
  .gallows {
    height: 250px;
    margin-bottom: 10px;
  }
}

.quiz {
  grid-area: 1/2/3/3;
  text-align: center;
}

.quiz__letters {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-bottom: 40px;
}
@media (max-width: 1100px) {
  .quiz__letters {
    margin-bottom: 18px;
  }
}

.quiz__letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 27px;
  line-height: 1;
  border-bottom: 3px solid var(--color-bd-dark);
}
@media (max-width: 1100px) {
  .quiz__letter {
    width: 20px;
    height: 20px;
    font-size: 18px;
  }
}

.quiz__question {
  margin: 0;
  margin-bottom: 30px;
  font-size: 22px;
}
@media (max-width: 1100px) {
  .quiz__question {
    margin-bottom: 14px;
    font-size: 18px;
  }
}

.quiz__guesses {
  margin: 0;
  margin-bottom: 50px;
}
@media (max-width: 1100px) {
  .quiz__guesses {
    margin-bottom: 18px;
    font-size: 16px;
  }
}

.quiz__count {
  color: var(--color-text-alert);
}

.quiz__keyboard {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  place-content: center;
  justify-content: center;
  max-width: 500px;
  margin-inline: auto;
}
@media (max-width: 1100px) {
  .quiz__keyboard {
    max-width: 450px;
  }
}

.quiz__key {
  width: 48px;
  height: 48px;
  font-size: 24px;
  background-color: var(--color-btn-basic);
  border: 1px solid var(--color-bd-dark);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s ease, opacity 0.5s ease;
}
@media (max-width: 1100px) {
  .quiz__key {
    width: 40px;
    height: 40px;
  }
}
@media (hover: hover) {
  .quiz__key:hover, .quiz__key:focus-visible {
    background-color: var(--color-btn-hover);
  }
}
.quiz__key:active {
  background-color: var(--color-btn-active);
}
.quiz__key:disabled {
  color: var(--color-text-disabled);
  background-color: var(--color-btn-hover);
  opacity: 0.5;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-backdrop);
}
.modal--closed {
  display: none;
}

.modal__content {
  position: relative;
  width: 300px;
  margin: auto;
  padding: 20px;
  background-color: var(--color-bg-modal);
  border-radius: 10px;
}

.modal__title {
  margin: 0 0 24px;
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.modal__title--win {
  color: var(--color-text-success);
}
.modal__title--fail {
  color: var(--color-text-alert);
}

.modal__answer {
  margin: 0 0 24px;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

.modal__restart {
  display: block;
  margin: 0 auto;
  padding: 5px;
  background-color: var(--color-btn-basic);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
@media (hover: hover) {
  .modal__restart:hover, .modal__restart:focus-visible {
    background-color: var(--color-btn-hover);
  }
}
.modal__restart:active {
  background-color: var(--color-btn-active);
}/*# sourceMappingURL=style.css.map */